In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('new_products.csv')
df.head()

,product_id,seller_title,simple_score,avg_simple_score,weighted_score,avg_weighted_score
0,7602,برزان,112.047,350.146875,14.162069,44.256466
1,7602,برهان الکترونیک,3.001,300.100000,0.348276,34.827586
2,7602,به روز سنتر,10.003,500.150000,1.389655,69.482759
3,7602,جانبی انسی,32.012,320.120000,4.213793,42.137931
4,7602,جانبی حبیب,2.000,200.000000,0.241379,24.137931

In [8]:
products = pd.read_csv('digikala-products.csv')
products.head()

C:\Users\asus\AppData\Local\Temp\ipykernel_20684\737072235.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  products = pd.read_csv('digikala-products.csv')

,id,title_fa,Rate,Rate_cnt,Category1,Category2,Brand,Price,Seller,Is_Fake,min_price_last_month,sub_category
0,7096438,آبسلانگ مدل s5 بسته 250 عددی,90,4,آبسلانگ,NaN,متفرقه,634800,سلامت ساز راد,False,0,beauty
1,2845119,آبسلانگ مدل M-1 بسته 400 عددی,84,217,آبسلانگ,NaN,متفرقه,818800,مهر افزون,False,0,beauty
2,6117745,آبسلانگ مدل m50 مجموعه 500 عددی,88,14,آبسلانگ,NaN,متفرقه,920000,یانگوم,False,0,beauty
3,1912926,استند ابسلانگ مدل S01,78,25,آبسلانگ,NaN,متفرقه,1100000,بهراد طب بیدار,False,0,beauty
4,6335462,آبسلانگ نوری تسلامد مدل All-in-One,84,25,آبسلانگ,NaN,تسلا مد,1530000,دیجی‌کالا,False,0,beauty

In [ ]:
# merging
df = pd.merge(df, df2, on=['A', 'B'])

print(merged_df)